
PORT = 

MONGO_URI = 

SMTP_HOST= 
SMTP_PORT= 
SMTP_USER= 
SMTP_PASS=

CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=

OTP_EXPIRE = in minutes
JWT_COOKIE_EXPIRE= IN Days like 14 or 15
JWT_SECRET= some random secret